@property --angle {
  syntax: "<angle>";
  initial-value: 185deg;
  inherits: false;
}

.glass-card {
  box-sizing: border-box;
  position: relative;
  border-radius: 5px;
  box-shadow: #00000080 0px 1rem 1.5rem 0rem;

  border: 1px solid transparent;
  background: linear-gradient(0deg, #00000052 0%, #00000052 100%),
    conic-gradient(
      from var(--angle) at 50.24% 99.67%,

      #00000030 0deg,
      #300f0130 270deg,
      #00000030 360deg
    );

  isolation: isolate;
  /* animation for rotating gradient border */
  animation: rotateGradient 40s linear infinite;
}

.glass-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: inherit;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1;
  pointer-events: none;
  user-select: none;
}

.glass-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  padding: 1px;
  background: conic-gradient(
    from var(--angle) at 50% 50%,
    #09080f,
    rgb(31, 15, 9),
    #09080f
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  z-index: 2;
  animation: rotateBorderGradient 40s linear infinite;
  pointer-events: none;
  user-select: none;
}

@keyframes rotateGradient {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

@keyframes rotateBorderGradient {
  0% {
    --angle: 45deg;
  }
  100% {
    --angle: 405deg;
  }
}
