@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@property --angle {
  syntax: "<angle>";
  initial-value: 135deg;
  inherits: false;
}

:root {
  --primary: #232325;
  --secondary: #2a2a2e;
  --foreground: #dedfdf;
  --dark-gray: #353538;
  --background: #19191b;
  --red-orange: #c42222;
  --light-gray: #6b6b6d;

  --font-montserrat: "Montserrat", sans-serif;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --color-dark-gray: var(--dark-gray);
  --color-background: var(--background);
  --color-red-orange: var(--red-orange);
  --color-light-gray: var(--light-gray);
  --font-montserrat: var(--font-montserrat);
}

body {
  background-color: var(--color-background);
  background: linear-gradient(
    var(--angle),
    #140505 0%,
    #0d0b10 45%,
    #050407 100%
  );

  color: var(--color-foreground);
  margin: 0;
  padding: 0;

  min-height: 100vh;
  min-width: 100vw;
  animation: rotateGradient 40s linear infinite;
}

@keyframes rotateGradient {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
