.bounce {
  animation: loading-bounce 1s infinite ease-in;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: white;
}

@keyframes loading-bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(0);
  }
}
