.workout-table-container {
  width: 100%;
  /*background-color: rgba(28, 28, 28, 0.2);*/
  border-radius: 0.5rem; /* rounded-lg */
  border: 1px solid rgba(18, 18, 18, 1);
  border-bottom: 1px solid rgba(37, 36, 36, 1);
  backdrop-filter: blur(10px);
}

.workout-table-header {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(18, 18, 18, 1);
}
