@property --angle {
  syntax: "<angle>";
  initial-value: 185deg;
  inherits: false;
}

.glass-card {
  box-sizing: border-box;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1rem 1.5rem 0rem;

  border: 1px solid transparent;
  border-image: linear-gradient(185deg, #09080f, #1f0f09, #09080f) 1;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.32) 0%,
      rgba(0, 0, 0, 0.32) 100%
    ),
    conic-gradient(
      from var(--angle) at 50.24% 99.67%,

      360deg,
      #00000030 0deg,
      #300f0130 270deg,
      #00000030 360deg
    );
  background-origin: border-box;
  background-clip: padding-box;

  isolation: isolate;
}

.glass-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: inherit;
  background-color: #00000020;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1;
  pointer-events: none;
  user-select: none;
}

.glass-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 1px;
  background: conic-gradient(
    from var(--angle) at 50% 50%,
    #09080f,
    rgb(49, 26, 18),
    #09080f
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  z-index: 2;
  pointer-events: none;
  user-select: none;
  animation: radialGradient 40s linear infinite;
}

@keyframes radialGradient {
  0% {
    --angle: 135deg;
  }
  100% {
    --angle: 495deg;
  }
}
